<%- include ('layout/header') %>
<%- include ('layout/nav') %>
<head>
  <style>
            .input-field {
            width: 17%;
            padding: 1px;
            outline: none;
            border: 1 solid rgb(212, 212, 212);
            }

            .input-field:focus {
            border: 2px solid rgb(71, 170, 236);
            }
            .btn {
            border-radius: 2px  ;
            background-color: rgb(87, 187, 253);
            border: none;
            color: #FFFFFF;
            text-align: center;
            font-size: 15px;
            padding: 5px;
            width: 150px;   
            cursor: pointer;
            margin: 2px;
        }

        .btn:hover {
            background-color: rgb(71, 170, 236);
        }
  </style>
</head>
<div class="content">
<h2>Reset Password</h2><br>
<% if (user) { %>
    <form method="POST" action="/dataUser/reset-pswd/<%= user.username %>" onsubmit="return confirmReset()">
      <label for="newPassword">New Password </label>
      <input class="input-field" type="password" id="newPassword" name="newPassword" required>
      <button class="btn" type="submit">Reset Password</button>
    </form>
  <% } else { %>
    <p>User not found</p>
  <% } %>

</div>
<%- include ('layout/footer') %>


<script>
  function confirmReset() {
    // You can customize the alert messages here
    var confirmation = confirm("Are you sure you want to reset the password?");
    if (confirmation) {
      alert("Password reset successful!");
    } else {
      alert("Password reset cancelled.");
    }
    return confirmation;
  }
</script>