<!-- <script>
    function myFunction() {
      var x = document.getElementById("myTopnav");
      if (x.className === "custom-navbar") {
        x.className += " responsive";
      } else {
        x.className = "custom-navbar";
      }
    }
    </script> -->

</body>
</html>