<nav class="navbar navbar-expand-sm custom-navbar navbar-dark" id="myTopnav"  >
  <!-- Brand/logo -->
  <!--<a class="navbar-brand" href="#">Logo</a>-->
  <h5 class="navbar-brand">Aplikasi Kasir Toko Buku</h5>
</nav>

  <div class="sidebar">
    <p><img src="/images/grey.png" alt="SLZ admin" style="max-width: 60%;"></p>
      <a href="#" class="active"> Menu</a>
      <a href="/home"><i class="fas fa-tachometer-alt"></i> Dashboard</a>
      <a href="/dataUser"><i class="fas fa-users"></i> User</a>
      <a href="/dataBuku"><i class="fa fa-book"></i> Buku</a>
      <a href="/riwayatTransaksi"><i class="fas fa-file-invoice-dollar"></i> Data Transaksi</a>
      <!-- <form action="/logout" method="POST">
        <input type="hidden" name="logout" value="true">
        <button class="form-btn" type="submit" name="simpanKeranjang" value="simpan" required>
          <span class="fas fa-sign-out-alt"></span>
      </button>
      </form> -->
      <!-- <a href="/"><i class="fas fa-sign-out-alt"></i> LogOut</a> -->
      <a href="/" class="logout-link" onclick="return confirm('Apakah Anda yakin ingin keluar dari aplikasi?')">
        <i class="fas fa-sign-out-alt"></i> LogOut
      </a>
  </div>

