<nav class="navbar navbar-expand-sm custom-navbar navbar-dark" id="myTopnav"  >
    <h5 class="navbar-brand">Aplikasi Kasir Toko Buku</h5>
  </nav>
  
    <div class="sidebar">
      <p>
        <img src="/images/grey.png" alt="SLZ admin" style="max-width: 60%;">
      </p>
        <a href="#" class="active"> Menu</a>
        <a href="/transaksi"><i class="fas fa-tachometer-alt"></i> Dashboard</a>
        <a href="/buku"><i class="fa fa-book"></i>Buku</a>
        <a href="/" class="logout-link" onclick="return confirm('Apakah Anda yakin ingin keluar dari aplikasi?')">
          <i class="fas fa-sign-out-alt"></i> LogOut
        </a>
    </div>